{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated %}
    <h1> You are already logged in </h1>
    {% else %}
    <div class="content-section">
      <ul class="nav nav-pills">
        <li class="nav-item">
      <a class="nav-link" href="{% url 'register_student' %}">Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register_faculty' %}">Faculty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'register_community' %}">Community</a>
        </li>
      </ul>
      <br>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ user_form | crispy }}
                {{ community_profile_form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
    {% endif %}
{% endblock content %}
